@model  IEnumerable<Poltry_Project.Poultry_Hub_SR.Transaction>
@using Poltry_Project.Poultry_Hub_SR;
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Driver.cshtml";
}

@if (Model.Count() > 0)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Ordered On</th>
                                        <th>Last Delivery Day</th>
                                        <th>More</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <td>@i.Add_Date.ToString().Substring(0, 10)</td>
                                            <td>@i.Estimated_Delivery_Date.ToString().Substring(0, 10)</td>
                                            <td><a href="~/Driver/View_Single_Order/@i.Id"> More <i class="mdi mdi-arrow-right"></i> </a></td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
}
else
{


    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <h1 class="text-dark text-center">There are no orders currently..<br />Please check again after a while..<br />Thank you</h1>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
        </div>
    </div>
}

