
@{
    ViewBag.Title = "Checkout_Post";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="text-center text-success">Order has been made</h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


