@{
    ViewBag.Title = "Home";
}
<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('../../Front_Files/images/Home_Banner_Chicken.jpg'); ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
                        <h1 class="mb-2">We are a one stop for all types of chickens @ViewBag.Test</h1>
                        <h2 class="subheading mb-4">We deliver at an offordable price</h2>
                        <p><a href="~/Home/Shop" class="btn btn-brown">Shop now</a></p>
                    </div>

                </div>
            </div>
  
    </div>
</section>