
@{
    ViewBag.Title = "Update Password";
}

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                @using (Html.BeginForm("Update_Password", "Home", FormMethod.Post, new { @Class = "bg-white p-5 contact-form justify-content-center" }))
                {
                    <h3 class="text-center mb-2 border-top border-bottom">Update Password</h3>

                    <div class="form-group mt-3">
                        <input name="Password" value="" type="password" class="form-control" placeholder="New Password" required>
                    </div>


                    <div class="form-group justify-content-center">
                        <input type="submit" value="Save" class="btn btn-brown w-100 rounded-0  py-3 px-5">
                    </div>
                }



            </div>
        </div>
    </div>
</section>


